.container{margin: auto;}

.navbar{display: flex;}

    .navleft{justify-content: flex-start;}

    .navright{justify-content: flex-end;}

.containerbody{display: flex;}

    .leftbody{justify-content: left;}

    .rightbody{}

.lowrbody{justify-content: center;}

.footer{}

