body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: blanchedalmond;
    color:black;
    margin: 20px;
    padding: 10;
}

h1 {
    color:olivedrab;
    margin-bottom: 30px;

}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

h2 {
    color:olivedrab;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}